= simple_form_for(@plant, :html => {:class => 'form form-vertical' }) do |f|
  -if @plant.errors.any?
    #error_explanation
      %h2= "#{pluralize(@plant.errors.count, "error")} prohibited this plant from being saved:"
      %ul
        - @plant.errors.full_messages.each do |msg|
          %li= msg
  = f.input :name
  = f.input :plant_type_id, :collection => PlantType.all
  = f.button :submit
